.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 600px; 
    padding: 20px;
    height: 400px;
    border-style: solid;
    border-width: 3px;
    font-family: "Century Gothic";
    margin-bottom: 1%;
}

.header{
    height: 40px;
    font-weight: bold;
}

.img{
    width: 40%;
    float: left;
    height: 260px;
}

.right{
    width: 55%;
    float: right;
    height: 360px;
}
.overview{
    height: 220px;
    overflow : hidden;
    text-overflow : ellipsis;
    margin-bottom: 15%;
}

.label{
    font-weight: bold;
}

.star{
    height: 20px;
    width: 20px;
}
